include versioneer.py
include src/rl_navigation/_version.py
include src/bindings/meson.build
include src/bindings/meson_options.txt
include src/bindings/subprojects/*.wrap
include src/bindings/sophus/meson.build
include src/bindings/sophus/sophus_bindings.cpp
